body {
    margin: 200px;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-body {
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 400px;
    border-radius: 30px;
    background-color: rgb(26, 32, 32);
}

.top-half {
    height: 350px;
    width: 400px;
    border-radius: 30px;

}

.inputs-container {
    background-color: rgb(56, 68, 68);
    height: 450px;
    width: 400px;
    border-radius: 30px;
}

.button-container {
    padding: 20px;
}

.delete-keys {
    display: flex;
    justify-content: space-evenly;
}


/*USE GRID INSTEAD OF FLEXBOX